/*estilos generales*/

@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');


body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Sigmar;
}
a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    margin: 0;
padding: 0;
}
/*HEADER*/
header {
background-color: #2e48dad0;
color: #fff;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
}
nav ul {
    display: flex;
}
nav ul li {
    margin-right: 20px;
}
nav ul li:last-child {
    margin-right: 0;
}
nav ul li a {
    font-weight: bold;
    font-size: 20px;
}
/*MAIN*/

main {
    padding: 40px;

}
#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img {
    max-width: 25rem;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.2);
}

section{
    margin-bottom: 20px;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
section ul li{
    font-size: 24px;
    margin-bottom: 10px;
}

.project {
    background-color: #38504b;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
.project h3{
    font-size: 26px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
    line-height: 1.5;
}

/*contact*/
form label {
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
}

form input,
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgb(80, 18, 224);
}
form input[type="submit"]{
    background-color: #18b996;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9px;
    cursor: pointer;

}


/*FOOTER*/
    footer{
        background-color: #4e10e0;
        color: #fff;

    }

    footer ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        padding: 0;
    }
form li{
    list-style: none;
    margin: 0 10px;
}
footer a{
    font-size: 1.5em;
}
footer a:hover{
    transition: 1.5s;
    transform: scale(1.5);
}

@media screen and (max-width:768px){
    /*Header*/
    header{
        
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;

    }
    nav ul{
        margin-top: 10px;
    }
    nav ul li{
        margin-right: 20px;
    }
    /*MAIN*/
    main{
        padding: 20px;
    }
    img{
        max-width: 15rem;
        border-radius: 10%;
        border: 1px solid #fff;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

    }
    h2{
        font-size: 24px;
    }
    section ul li{
        font-size: 18px;
    }
    .project h3{
        font-size: 20px;
    }
    .projectp{
        font-size: 14px;
    }
    /*contact*/
    form label{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }
    form input, 
    textarea{
        font-size: 14px;
    }
    form input[type="submil"]{
        padding: 8px 16px;
        font-size: 14px;
    }
/*FOOTER*/
footer{
    padding: 20px;
}
footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
foorter li{
    margin-right: 10px;
}


}
